@import url('../css/landing.css');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
section {
  padding: 50px 0;
  background-color: antiquewhite;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
}

/* * {
}
.text * {
  color: coral;
}
input[type='checkbox'] {
  display: block;
}
input[type='range'] {
  display: inline-block;
}
.block {
  width: 500px;
  max-width: 1100px;
  min-width: 800px;
  height: 200px;
  background-color: cornflowerblue;
}
.block-elem {
  width: auto;
  width: 50%;
  height: 100px;
  background-color: rgb(145, 132, 132);
} */
.contact {
  background-color: #fff;
}
.footer {
  padding: 50px 0;
}
